@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.footerbox {
  background-color: #1e1d1d;
  margin-top: 10%;
}
#secondcolumn{
  margin-top: 8%;
}
.changingtextpanel {
  margin-top: 3%;
  margin-left: 40px;
  font-family: "Open Sans", sans-serif;
  color: #f5f0eb;
  font-size: clamp(0.85rem, 4vw, 3rem);
  margin-bottom: 2%;
}
.textinfooter {
  font-family: "Open Sans", sans-serif;
  color: #f5f0eb;
  font-size: clamp(0.35rem, 1.2vw, 1.3rem);
  
}
.transitionspans:before {
  content: "";
  animation: animate infinite 15s;
}

@keyframes animate {
  0% {
    content: " Collaborate";
  }
  20% {
    content: " Innovate";
  }
  40% {
    content: " Create";
  }
  60% {
    content: " Collaborate";
  }
  80% {
    content: " Innovate";
  }
  100% {
    content: " Create";
  }
}
.heart {
  height: 10px;
  width: auto;
  padding-right: 2px;
}

.github {
  margin-left: 40px;
  height: 20px;
  width: auto;
}
.linkedin {
  margin-left: 20px;
  height: 20px;
  width: auto;
}

.devpost {
  margin-left: 20px;
  height: 20px;
  width: auto;
}
.copyright {
  margin-right: 3%;
  font-size: clamp(0.3rem, 1.2vw, 1.25rem);
}

.github:hover,
.linkedin:hover,
.devpost:hover {
  opacity: 50%;
}
@media screen and (max-width: 700px) {
  .github,
  .linkedin,
  .devpost {
    height: 15px;
    width: auto;
  }
  .heart {
    height: 8px;
    width: auto;
  }
}

